.App {
  margin-top: 16vh;
  min-height: 100vh;
  text-align: center;
  background-color: black;
}

.nav-header {
  color: white;
  background-color: #0f0907;
  position: fixed;
  top: 0;
  width: 100%;
  height: 16vh;
  display: flex;
  flex-flow: row nowrap;
}

.nav-logo {
  display: flex;
  border:1px solid black;
  margin-left: 0%;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  /* border: 1px solid white; */
}

.nav-links {
  width: 50%;
  font-size: 2.5vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* border: 1px solid white; */
}

.nav-link-rules {
  color: #726a57;
  text-decoration: none;
}
.nav-link-announcements {
  color: #726a57;
  text-decoration: none;
}
.nav-link-builds {
  color: #726a57;
  text-decoration: none;
}