@import url(https://www.1001fonts.com/ringbearer-font.html);

.App {
  margin-top: 12.5vh;
  min-height: 150vh;
  text-align: center;
  line-height: 5vh;
  background-color: black;
  -webkit-text-stroke: 0.25px black;
  /* border: 1px solid white; */
}



/* NAVIGATION BAR */



.nav-header {
  color: white;
  background: rgb(23,14,9);
  background: linear-gradient(90deg, rgba(23,14,9,1) 15%, rgba(18,10,8,1) 42%, rgba(23,15,13,1) 84%);
  position: fixed;
  top: 0;
  width: 100%;
  height: 13vh;
  display: flex;
  flex-flow: row nowrap;
  /* border: 1px solid white; */
}

.nav-logo {
  display: flex;
  border:1px solid black;
  margin-left: 0%;
}

.nav-title {
  color: #726a57;
  margin-bottom: 2.5%;
  padding-top: 1%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid white; */
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  /* border: 1px solid white; */
}

.nav-links {
  width: 50%;
  font-size: 2.5vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* border: 1px solid white; */
}

.nav-link-home {
  color: #726a57;
  text-decoration: none;
  -webkit-text-stroke: 0.5px black;
}

.nav-link-links {
  color: #726a57;
  text-decoration: none;
  -webkit-text-stroke: 0.5px black;
}

.nav-link-announcements {
  color: #726a57;
  text-decoration: none;
  -webkit-text-stroke: 0.5px black;
}

.nav-link-staff {
  color: #726a57;
  text-decoration: none;
  -webkit-text-stroke: 0.5px black;
}

.nav-link-builds {
  color: #726a57;
  text-decoration: none;
  -webkit-text-stroke: 0.5px black;
}



/* HOME PAGE */



.home-title {
  color: #91876d;
  font-size: 5vh;
  padding-top: 2%;
  margin: 0%;
  /* border: 1px solid white; */
}

.home-ip {
  color: #726a57;
  margin: 1%
  /* border: 1px solid white; */
}

.home-video {
  display: flex;
  margin: 3%;
  justify-content: center;
}

.home-faq {
  margin: 0% 10% 5% 10%;
  /* border: 1px solid white; */
}

.home-faq-1 {
  margin: 3%;
  /* border: 1px solid red; */
}

.home-faq-what {
  color: #91876d;
}

.home-faq-what-a {
  color: #726a57;
}

.home-faq-2 {
  margin: 3%;
  /* border: 1px solid white; */
}

.home-faq-how {
  color: #91876d;
}

.home-faq-how-a {
  color: #726a57;
}

.home-wiki-link {
  color: #857d69;
  -webkit-text-stroke: 0.25px black
}

.home-faq-3 {
  margin: 3%;
  /* border: 1px solid blue; */
}

.home-faq-ip {
  color: #91876d;
}

.home-faq-ip-a {
  color: #726a57;
}

.home-soon {
  /* border: 1px solid white */
}

.home-see {
  color: #91876d;
  font-size: 4vh;
  -webkit-text-stroke: 0.5px black;
}

.copyright {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.copy-top {
  color: #726a57;
  -webkit-text-stroke: 0.5px black;
  margin-bottom: -1.8%;
}

.copy-bottom {
  color: #726a57;
  -webkit-text-stroke: 0.5px black;
}



/* ANNOUNCEMENTS*/



.announcement-title {
  color: #91876d;
  font-size: 7vh;
  padding-top: 2%;
  -webkit-text-stroke: 0.5px black;
  
}

.announcement-layout {
  margin-left: 23%;
  width: 55%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  /* border: 1px solid white; */
}

.announcement-desc {
  color: #91876d;
  font-size: 4vh;
}

.discord-wiget {
  padding: 2%;
}



/* STAFF */



.staff-title {
  color: #91876d;
  padding-top: 2%;
  font-size: 7vh;
  /* border: 1px solid white; */
}

.staff-layout-top {
  width: 100%;
  /* border: 1px solid white; */
}

.staff-phoenix {
  color: #91876d;
  line-height: 3vh;
  /* border: 1px solid white; */
}

.phoenix-info {
  width: 30%;
  padding: 2%;
  margin: 16% 0% 0% 17%;
  /* border: 1px solid white; */
}

.phoenix-bio {
  padding-top: 4%;
  font-size: 3vh;
}

.phoenix-img {
  margin-left: 28%;
  margin-top: -27%;
  padding-bottom: 4%;
}

.staff-layout-bottom {
  color: #91876d;
}

.staff-layout-row-1 {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 3%;
  /* border: 1px solid white; */
}

.vanderm-info {
  line-height: 2vh;
}

.vanderm-bio {
  padding-top: 4%;
  font-size: 3vh;
}

.vanderm-img {

}

.fin-info {
  line-height: 2vh;
}

.fin-bio {
  padding-top: 4%;
  font-size: 3vh;
}

.fin-img {

}


.staff-layout-row-2 {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 3%;
  /* border: 1px solid white; */
}

.stalone-info {
  line-height: 2vh;
}

.stalone-bio {
  padding-top: 4%;
  font-size: 3vh;
}

.stalone-img {

}

.athasin-info {
  line-height: 2vh;
}

.athasin-bio {
  padding-top: 4%;
  font-size: 3vh;
}

.athasin-img {

}


.staff-layout-row-3 {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 3%;
  /* border: 1px solid white; */
}

.mass-info {
  line-height: 2vh;
}

.mass-bio {
  padding-top: 4%;
  font-size: 3vh;
}

.mass-img {

}

.acentis-info {
  line-height: 2vh;
}

.acentis-bio {
  padding-top: 4%;
  font-size: 3vh;
}

.acentis-img {

}


.staff-layout-row-4 {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 3%;
  /* border: 1px solid white; */
}

.moryan-info {
  line-height: 2vh;
}

.moryan-bio {
  padding-top: 4%;
  font-size: 3vh;
}

.moryan-img {

}


.staff-layout-row-5 {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 3%;
  /* border: 1px solid white; */
}

.bella-info {
  line-height: 2vh;
}

.bella-bio {
  padding-top: 4%;
  font-size: 3vh;
}

.bella-img {

}

.barzul-info {
  line-height: 2vh;
}
.barzul-bio {
  padding-top: 4%;
  font-size: 3vh;
}

.barzul-img {

}


.staff-layout-row-6 {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 3%;
  /* border: 1px solid white; */
}

.boto-info {
  line-height: 2vh;
}

.boto-bio {
  padding-top: 4%;
  font-size: 3vh;
}

.boto-img {

}



/* LINKS AND RULES */



.lar-title {
  color: #91876d;
  font-size: 4vh;
  -webkit-text-stroke: 0.5px black;
  padding-top: 1%;
}

.lar-desc {
  color: #91876d;
  font-size: 3vh;
  -webkit-text-stroke: 0.5px black;
}

.lar-layout-right {
  color: #91876d;
  font-size: 2.75vh;
  width: 45%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid white; */
}

.link-click {
  color: #857d69;
  text-decoration: underline #91876d;
  -webkit-text-stroke: 0.25px black
}

.link-address {
  text-decoration: none;
}

.rules-link {
padding-bottom: 3%;
}

.wiki-link {
  padding-bottom: 3%;
}

.youtube-link {
  padding-bottom: 3%;
}



.lar-layout-left {
  color: #91876d;
  font-size: 2.75vh;
  width: 44%;
  margin-left: 50%;
  margin-top: -34%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid white; */
}

.forum-link {
  padding-bottom: 3%;
}

.discord-link {
  padding-bottom: 3%;
}

.donate-link {
  padding-bottom: 3%;
}